<!-- 
This is a shortcode for controlling an audio element.

Usage:
{{/*  
  {{< music-control ACTION* TIME >}}TEXT*{{< /music-control >}}
*/}}

Parameters:
- ACTION (required): The action to perform. This should be "pause", "resume", or a start time in seconds.
- TIME (optional): The time to start/resume at. This should be a number. Required if ACTION is "resume".

Examples:
{{/*  
{{< music-control "resume-at" 0 >}}
Start at 0:00
{{</ music-control >}}

{{< music-control "pause" >}}
Pause music
{{</ music-control >}}

{{< music-control "resume" >}}
Resume music
{{</ music-control >}}  
*/}}

-->

{{ define "js" }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.music-control').forEach(function(link) {
        link.addEventListener('click', function(event) {
          event.preventDefault();
          var audio = document.getElementById('audio');
          var action = link.getAttribute('data-action');
          if (action === 'pause') {
            audio.pause();
          } else if (action === 'resume-at') {
            audio.currentTime = link.getAttribute('data-time');
            audio.play();
          } else if (action === 'resume') {
              audio.play();
          } else {
            audio.currentTime = action;
            audio.pause();
          }
        });
      });
    })
  </script>
{{ end }}

{{ $commonOuterStyles := "group music-control cursor-pointer rounded-md px-2 shadow-lg hover:animate-pulse relative pr-4 select-none" }}
{{ $commonIconStyles := "absolute flex -right-2 -top-2 opacity-0 group-hover:opacity-100 w-6 h-6 rounded-full bg-white items-center justify-center shadow-lg" }}

{{ if eq (.Get 0) "resume-at" }}
  <span class="{{ $commonOuterStyles }} active:shadow-lime-500" data-action="{{ .Get 0 }}" data-time="{{ .Get 1 }}">
    {{ .Inner }}
    <span class="{{ $commonIconStyles }} shadow-lime-500">&#x23F5;</span>
  </span>
{{ else if eq (.Get 0) "pause" }}
  <span class="{{ $commonOuterStyles }} active:shadow-red-500 focus:shadow-red-500" data-action="{{ .Get 0 }}" data-time="{{ .Get 1 }}">
    {{ .Inner }}
    <span class="{{ $commonIconStyles }} shadow-red-500">&#x23F8;</span>
  </span>
{{ else if eq (.Get 0) "resume" }}
  <span class="{{ $commonOuterStyles }} active:shadow-blue-500 focus:shadow-blue-500" data-action="{{ .Get 0 }}" data-time="{{ .Get 1 }}">
    {{ .Inner }}
    <span class="{{ $commonIconStyles }} shadow-blue-500">&#x23F5;</span>
  </span>
{{ end }}