<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ block "css" . }}
    {{ partial "main_head.html" . }}
  {{ end }}

  {{ if.Param "math" }}
    {{ partialCached "math.html" . }}
  {{ end }}

  {{/*  Should be set in render-codeblock-mermaid.html  */}}
  {{/*  Commented out bc doesn't seem to work in deployed application  */}}
  {{/*  {{ if .Page.Store.Get "hasMermaid" }}  */}}
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
  {{/*  {{ end }}  */}}

</head>

<body class="p-6 md:p-12 bg-paper">
  <header class="pb-8">
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <!-- ugly footer -->
  <!-- 
  <footer class="pt-72">
    {{ partial "footer.html" . }}
  </footer>
  -->
</body>
</html>
