{% extends "dashboard-pane-generic.html" %}

{% block title %}Themes{% endblock %}
{# to add new theme buttons #}
{# add a button here #}
{# add a class to tw.css #}
{# and add a condition to base.html#body:class #}
{% block body %}
  <div class="flex flex-row space-x-8">
    <button x-on:click="activeBg = activeBg === 'horizon' ? null : 'horizon'">
      {% set tw_color="bg-purple-700" %}
      {% set theme_name="bg-vaporwave-horizon" %}
      {% set text_color="text-gray-300" %}
      {% set button_text="horizon" %}
      {% include "bg-theme-button.html" %}
    </button>

    <!-- vaporwave-f40 -->
    <button x-on:click="activeBg = activeBg === 'f40' ? null : 'f40'">
      {% set tw_color="bg-purple-700" %}
      {% set theme_name="bg-vaporwave-f40" %}
      {% set text_color="text-white" %}
      {% set button_text="f40" %}
      {% include "bg-theme-button.html" %}
    </button>

    <!-- napoleon wings -->
    <button x-on:click="activeBg = activeBg === 'napoleon_wings' ? null : 'napoleon_wings'">
      {% set tw_color="bg-white" %}
      {% set theme_name="bg-napoleon-wings" %}
      {% set text_color="text-white" %}
      {% set button_text="napoleon" %}
      {% include "bg-theme-button.html" %}
    </button>
  </div>
{% endblock body %}
