@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  a[href] {
    @apply text-purple-800
  }

  a[href]:visited {
    @apply text-purple-400
  }

  h1 { 
    @apply text-4xl pb-4
  }

  h2 { 
    @apply text-3xl pb-2 pt-4
  }

  h3 { 
    @apply text-2xl pb-2 pt-4
  }
  
  html {
    @apply max-w-6xl
    
  }

  table {
    @apply my-8 border-black border-4 shadow-lg hover:shadow-slate-950 hover:mx-2 hover:my-10
  }

  th {
    @apply p-2 border-black border-2 text-gray-500 text-left bg-slate-100
  }

  tr > td {
    @apply p-2 border-2 border-black
  }

  tr:nth-child(even) {
    @apply bg-white
  }

  p {
    @apply pt-4 text-justify leading-tight
  }

  ul {
    @apply list-disc ml-4
  }

  ol {
    @apply list-decimal ml-8
  }

  code {
    @apply bg-gray-200 text-gray-800 px-2 py-1 rounded-md;
  }

  pre:not(.mermaid) {
    @apply bg-gray-800 text-white p-4 rounded-md overflow-auto;
  }

  pre.mermaid {
    @apply my-8 px-4 py-8 bg-white rounded-lg drop-shadow-lg hover:drop-shadow-2xl
  }

  pre:has(code) {
    @apply my-8
  }

  pre code {
    @apply bg-transparent text-white px-0 py-0 rounded-none
  }

  blockquote {
    @apply pl-8 italic text-red-500
  }

  hr {
    @apply border-blue-300 my-8 border-2 animate-pulse rounded-full active:border-blue-800 z-20
  }

  .footnotes {
    @apply 
      my-8
      [&>hr]:border-gray-300 
      [&>hr]:my-8
      [&>hr]:animate-none
  }

}
