body {
  display: flex;
  flex-direction: column;
  max-width: 720px;
}

p {
  font-size: 1em;
}

img {
  max-width: 100%;
}

figcaption {
  font-size: 0.8em;
  color: gray;
}

.definition:hover::after, /* mouse hover event */
.definition:active::after { /* touch event */
    content: "(" attr(data-def) ")";
    display: contents;
    background: white;
    border-radius: 2px;
    margin: 0 0 0 5px;
}