body {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  justify-content: center;
}

p {
  font-size: 1em;
}

img {
  max-width: 100%;
}

figcaption {
  font-size: 0.8em;
  color: gray;
}