body {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  justify-content: center;
}

p, 
code { /* override code CSS def in global.css */
  font-size: 2vmin;
}


img {
  max-width: 100%;
}
