* {
  font-family: "EversonMono", monospace;
}

html {
  margin: 25px;
  display: flex;
  justify-content: center;
  text-align: justify;
  /* background-color: rgba(225, 222, 208, 0.3); */
  background-color: #fff1e5;
}
body {
  max-width: 1280px; 
  width: 100%;
}

code {
  color: #F95E6F;
  background-color: #f1f1f1;
  padding: 2px;
  max-width: 100%;
  display: inline-block;
  white-space: pre-wrap;
}

