.headline
{
		color: #bbbbbb
}

div.content 
{

    .writing,
    .music,
    .photography,
    .projects,
	.about
    {
        color: #444444; 
        text-align: justify;
        max-width: 720px; 
        margin-bottom: 50px;
    }

}
