.headline
{
		color: #bbbbbb
}

div.content 
{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;

    .writing,
    .music,
    .photography,
    .projects,
	.about
    {
        color: #444444 
    }

    .about 
    {
        text-align: justify;
    }
}
